* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    
    background-color:#f3ebe4 ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont {
    border: black 1px;
    border-radius: 15px ;
    width: 45%;
    height: 60%;
    display: flex ;
    background-color: white ;  
    overflow: hidden;
}

.img {
    background-color:aqua;
    width: 50%;
    img { 
         width: 100%;
         height: 100%;
    }
  
}
.text {
    width: 50% ;
    padding: 20px;
    background-color: white;   
}
.text h4{
    color: gray;
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 15px;
}
.nombre {
    font-size: 35px;
    text-transform: capitalize ;
    letter-spacing: 0.1px;

} 
.descripcion {
    font-size: 14px;
    margin: 15px 0px 15px;   
}   
.precio {
    display: flex;
    justify-content :left;
    background-color: white;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.precio :first-child {
    color: #3f8068;
    font-size: 20px;
}
.precio :nth-child(2) {
    font-size: 10px;
    text-decoration: line-through;
}
button {
    width: 100%;
    background-color:#3f8068;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 5px;
  
}
