* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el contenedor */
.container {
    width: 100%;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.container h1{
    text-align: center;
    padding: 30px;
}

/* Estilo para el formulario */
form {
    background-color: #f2f2f2;
    padding: 0 500px;
    border-radius: 5px;
}

/* Estilo para las etiquetas */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para el botón de enviar */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
