.cont-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 630px;
    margin: auto;
    overflow: hidden;
}

.gri {
    background:radial-gradient(circle, orange,orangered);
    border: 3px solid black;
    width: 0px;
    height: 100%;
    padding: 5%;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.7;
    transition: flex-grow 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.gri img {
    width: 350px;;
    height: 350px;
}
.cont-img .gri:hover  {
    cursor:crosshair;
    flex-grow: 3;
    opacity: 1;
    filter: contrast(120%);
}

.sli{
    background:radial-gradient(circle, rgb(82, 227, 82),green);
    border: 3px solid black;
    width: 0px;
    height: 100%;
    padding: 5%;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.7;
    transition: flex-grow 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.sli img {
    width: 350px;;
    height: 350px;
}
.cont-img .sli:hover  {
    cursor:crosshair;
    flex-grow: 3;
    opacity: 1;
    filter: contrast(120%);
}

.rav {
    background:radial-gradient(circle,rgb(0, 85, 255),blue);
    border: 3px solid black;
    width: 0px;
    height: 100%;
    padding: 5%;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.7;
    transition: flex-grow 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.rav img {
    width: 350px;;
    height: 350px;
}
.cont-img .rav:hover  {
    cursor:crosshair;
    flex-grow: 3;
    opacity: 1;
    filter: contrast(120%);
}

.huf {
    background:radial-gradient(circle,yellow,rgb(255, 234, 0));
    border: 3px solid black;
    width: 0px;
    height: 100%;
    padding: 5%;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.7;
    transition: flex-grow 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.huf img {
    width: 350px;;
    height: 350px;
}
.cont-img .huf:hover  {
    cursor:crosshair;
    flex-grow: 3;
    opacity: 1;
    filter: contrast(120%);
}

